<header class="jumbotron jumbotron-fluid container-fluid full-width center align-middle">
    <!-- HEADER -->
    <h1 class="font-weight-bold mb-5 display-1 text-white animate__animated animate__bounce">
        Hey! <br />I'm Brennan Kenneth Brown.
    </h1>
    <h2 class="display-4 text-white">[ Web Development + Content Strategy ]</h2>
    <p class="text-center pt-5">
        <a href="https://www.brennanbrown.ca/resume.pdf" class="btn btn-info btn-lg mr-5"
            >Download Resume</a
        >
        <a href="https://github.com/brennanbrown" class="btn btn-light btn-lg">Visit My GitHub</a>
    </p>
</header>
