<section id="about">
    <div class="row">
        <div class="col-lg-4">
            <h1 class="text-center">Who I Am</h1>
            <img class="mx-auto d-block mb-3" src="/img/avatar.png" height="300"></img>
            <p class="text-center">
                <a href="https://twitter.com/brennankbrown">
                    <img src="https://img.shields.io/badge/-Twitter-1ca0f1?style=for-the-badge&amp;labelColor=1ca0f1&amp;logo=twitter&amp;logoColor=white&amp;link=https://twitter.com/brennankbrown"
                        alt="Twitter">
                </a>

                <a href="https://linkedin.com/in/brennankbrown/">
                    <img src="https://img.shields.io/badge/-LinkedIn-blue?style=for-the-badge&amp;logo=Linkedin&amp;logoColor=white&amp;link=https://linkedin.com/in/brennankbrown/"
                        alt="Linkedin">
                </a>

                <a href="https://medium.com/@brennanbrown">
                    <img src="https://img.shields.io/badge/-Medium-000000?style=for-the-badge&amp;labelColor=000000&amp;logo=Medium&amp;link=https://medium.com/@brennanbrown"
                        alt="Medium">
                </a>

                <a href="https://wandernotebook.com">
                    <img src="https://img.shields.io/badge/-Blog-21759B?style=for-the-badge&amp;logo=WordPress&amp;logoColor=white&amp;link=https://wandernotebook.com"
                        alt="WordPress Blog">
                </a>

                <a href="mailto:mail@brennanbrown.ca">
                    <img src="https://img.shields.io/badge/-Email-c14438?style=for-the-badge&amp;logo=Gmail&amp;logoColor=white&amp;link=mailto:mail@brennanbrown.ca"
                        alt="Email">
                </a>

                <a href="https://ko-fi.com/brennanbrown">
                    <img src="https://img.shields.io/badge/-Buy%20Me%20A%20Coffee-FF813F?style=for-the-badge&amp;logo=buy-me-a-coffee&amp;logoColor=ffffff&amp;link=https://ko-fi.com/brennanbrown"
                        alt="Buy Me A Coffee">
                </a>

                <img src="https://img.shields.io/badge/Pronouns-He%2FHim-brightgreen?style=for-the-badge"
                    alt="Pronouns">

                <img src="https://img.shields.io/badge/-Open%20Source%20Fan-3DA639?style=for-the-badge&amp;logo=open-source-initiative&amp;logoColor=ffffff"
                    alt="Open Source"></p>
        </div>
        <div class="col-lg-8">

            <h2 id="about-me-wave-">About Me</h2>

            <p>Hey there! My name is Brennan. I&#39;m a 24-year-old Métis web developer and blogger from Winnipeg,
                Manitoba and currently reside in Calgary, Alberta. I just finished a Full Stack Developer Program at
                <a href="https://www.evolveu.ca/">EvolveU</a>, and I&#39;m looking for open-source projects to
                contribute to and people to collaborate with! I love creating and tinkering with small, static
                websites using frameworks like Jekyll or Hugo. I&#39;m a big proponent of putting an emphasis on
                accessibility and the <a href="https://www.a11yproject.com/">A11y project</a> in web development.
            </p>

            <p>I&#39;m always looking to work with people that are hopeless idealists like me, as well as who are
                interested in creating and working on cool, interesting, and meaningful projects! Shoot me <a
                    href="mailto:mail@brennanbrown.ca">an e-mail</a> if that sounds like your cup of tea.</p>
            <br />

        </div>
    </div>
</section>