<section id="projects">
    <div class="row">
        <div class="col">
            <h1 class="ml-5 text-xl-left text-md-center section-header">Code Projects</h1>
        </div>
    </div>

    <div class="row bg-light">
        <% project.forEach(function (project) {%>
        <div class="card col-xl-3 col-lg-4 col-md-6 col-sm-12 py-2 mx-auto">
            <div class="card-img-top">
                <img src="projects/flask_project.png" alt="<%=project.name%>" class="img-thumbnail">
            </div>

            <div class="card-body">
                <h2 class="card-title"><a href="..." class="text-dark"><%=project.name%></a></h2>

                <p class="card-text">Lorem ipsum is placeholder text commonly used in the graphic, print, and publishing
                    industries for
                    previewing layouts
                    and visual mockups.</p>

            </div>
            <div class="card-footer">
                <a href="..."><button type="button" class="btn btn-sm btn-primary mr-1">View
                        Project</button></a>
                <a href="..."><button type="button" class="btn btn-sm btn-secondary mr-1">Source
                        Code</button></a>
                <a href="..."><button type="button" class="btn btn-sm btn-info">Docs</button></a>
                <p class="mt-2">
                    <span class="text-muted float-left text-uppercase">JavaScript</span>
                    <span class="text-muted float-right date mt-2">August 1st</span>
                </p>
            </div>
        </div>
        <%})%>
    </div>

</section>