<section id="contact">
    <div class="row">
        <div class="col">
            <h1 class="my-auto text-center section-header"> <i class="fas fa-coffee"></i> Get In Touch</i></h1>
        </div>
    </div>
    <div class="typeform-widget w-100" data-url="https://form.typeform.com/to/SqOaCj2z" style="height: 350px;">
    </div>
    <script>
        (function () {
            var qs, js, q, s, d = document,
                gi = d.getElementById,
                ce = d.createElement,
                gt = d.getElementsByTagName,
                id = "typef_orm",
                b = "https://embed.typeform.com/";
            if (!gi.call(d, id)) {
                js = ce.call(d, "script");
                js.id = id;
                js.src = b + "embed.js";
                q = gt.call(d, "script")[0];
                q.parentNode.insertBefore(js, q)
            }
        })()
    </script>
    <div style="font-family: Sans-Serif;font-size: 12px;color: #999;opacity: 0.5; padding-top: 5px;"> powered by <a
            href="https://admin.typeform.com/signup?utm_campaign=SqOaCj2z&utm_source=typeform.com-01EHD0N9EP5AJD2XWDPFPXWCYY-free&utm_medium=typeform&utm_content=typeform-embedded-poweredbytypeform&utm_term=EN"
            style="color: #999" target="_blank">Typeform</a> </div>
    </div>
</section>