<!-- FOOTER -->
<footer class="container-fluid full-width copyright center pt-4">
    <p>&copy; 2020 <a href="https://brennanbrown.github.io/portfolio"><strong>Untitled Portfolio</strong></a> ― Powered
        by <a href="https://nodejs.org/en/">Node.js</a>!
        <br> Created with ❤️ by Brennan K. Brown</a></p>
</footer>