<!-- FOOTER -->
<footer class="container-fluid full-width copyright center pt-4 text-light py-2">
    <p>&copy; 2019-2020 <a href="https://brennanbrown.ca"><strong>Brennan's Portfolio</strong></a>
        ― Powered by <a href="https://nodejs.org/en/">Node.js</a>.
        <br> Created with ❤️ by Brennan K. Brown</a></p>
</footer>