<footer class="container-fluid full-width copyright text-center pt-4 text-light py-2">
    <p>&copy; 2019-2021
        <a href="https://brennanbrown.ca">
            <strong>Brennan's Portfolio</strong>
        </a>
        ― Powered by Node.js
        <br>
        Created with ❤️ by Brennan K. Brown /
        <a href="https://github.com/brennanbrown/portfolio">
            <strong>View Source Code</strong>
        </a>
    </p>
</footer>
