<nav class="fixed-top navbar-dark bg-dark">
    <header class="header">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-5 topnav text-truncate">
                    <h2>
                        <a
                            href="/"
                            class="navbar-text text-white font-weight-bold mt-1 animate__animated animate__swing"
                            >Brennan K. Brown ✨&nbsp;</a
                        >
                    </h2>
                </div>
                <div class="col-lg-7 topnav navbar-text pt-lg-3 pt-1 condensed text-center">
                    <div class="row">
                        <div class="col"><a href="#about" class="navbar-link">ABOUT</a></div>
                        <div class="col"><a href="#projects" class="navbar-link">PROJECTS</a></div>
                        <div class="col"><a href="#blog" class="navbar-link">BLOG</a></div>
                        <div class="col d-none d-sm-block">
                            <a href="#creative-work" class="navbar-link">WORKS</a>
                        </div>
                        <div class="col"><a href="#contact" class="navbar-link">CONTACT</a></div>
                        <div class="col d-none d-md-block">
                            <a href="newsletter.brennanbrown.ca" target="_new" class="navbar-link"
                                >NEWSLETTER</a
                            >
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
</nav>
