#about {
    background-color: #8DCEEC;
}

#projects {
    background-color: #89F3E3;
}

#blog {
    background-color: #F5E6C8;
}

#creative-work {
    background-color: #EDB7CA;
}

#contact {
    background-color: #63bfe7;
}